.oxsn_slider {
	float: left;
	width: 100%;
	position: relative;
}

.oxsn_slider ul {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}

.oxsn_slider ul li {
	display: none;
	float: left;
	width: 100%;
}

.oxsn_slider span.controls {
	display: inline-block;
	width: 100%;
	z-index: 1000;
	text-align: center;
	margin-top: 12px;
}

.oxsn_slider span.controls ol.numericControls {
	display: inline-block;
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

.oxsn_slider span.controls ol.numericControls li {
	display: inline-block;
	margin: 0 3px;
}

.oxsn_slider span.controls ol.numericControls li:only-of-type {
	display: none;
}

.oxsn_slider span.controls ol.numericControls li a {
	float: left;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: lightgrey;
	border: 1px solid lightgrey;
	text-indent: -9999px;
}

.oxsn_slider span.controls ol.numericControls li.current a {
	background: transparent;
}